.row-header{
  background-color: #a5a5a5;
  color: white !important;
}

.header-title{
  font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 24px;
}

.pepole-table{
  white-space: normal !important;
  text-align: center !important;
}

.ui.table td {
  /* padding: 5 !important; */
}

content-editable {
  padding: 1rem;
}

.content-editable:hover {
  background: #f7f7f7;
}

.content-editable:focus {
  background: #fcf8e1;
  outline: 0;
}

.bottuns-row {
  margin-left: 1.5%;
  direction: ltr;
}

.search{
  direction: rtl;
  text-align: right;
}

.user {
  text-align: right;
  padding-right: 10px;
}

.pager-count {
  margin:14px;
}

.functions-row{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
 
}

.export-modal{
  text-align: center !important;
  /* width: 20% !important; */
}

.import-modal{
  text-align: center !important;
  width: 50% !important;
}

.upload-error-label{
  margin:10px !important;
  color: red !important;
  font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
  text-align: right !important;
}


.ui.dimmer {
  position: fixed!important;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* .inputlabel {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black !important;
  display: inline-block;
} */

/* .inputlabel:focus,
.inputlabel:hover {
  background-color: red;
  outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputlabel {
	cursor: pointer; /* "hand" cursor */
/* }  */